@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
.clip-triangle {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  width: 100%;
}
.rounded-edge {
  clip-path: polygon(26% 54%, 26% 32%, 81% 31%, 70% 48%, 56% 55%);
}
.login-background {
  background-image: url('/login.png');
  background-size: cover;
  background-position: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.login-button-background {
  background-image: url('/login.jpeg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.clip-triangle-center {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 100%;
}

/* Hide scrollbar track */
::-webkit-scrollbar {
  width: 6px;
  /* Set to a value other than 0 if you want to show some space for the scrollbar */
}

/* Hide scrollbar handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Optionally, you can also hide the scrollbar corner */
::-webkit-scrollbar-corner {
  display: none;
}